.sidebar{
   
    padding-right: var(--mantine-spacing-xs);
}
.main {
    border-left: 1px solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));

    

    @media screen and (max-width: 56.25em) {
        border-left: 0px solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
        border: none;
    }
}