
.border {
    border: 1px solid var(--mantine-color-gray-2);
    position: relative;
}

.searchInput {
    position: relative;
    z-index: 100;
}

.results {
    position: absolute;
    width: calc(100% + 20px);
    top: -10px;
    left: -10px;    
}

.listItem {
    cursor: pointer;
    background-color: light-dark(var(--mantine-color-default), var(--mantine-color-dark-5));
    transition: all .2s;
    border-radius: var(--mantine-spacing-xs);
    padding: rem(6px);

    &:active {
        transform: translateY(1px);
    }
    outline: none;
    border: none;
   
}